@import url('https://fonts.googleapis.com/css?family=Roboto');

.nome_aniversariante{
    font-size: 14px;
    color: #0396ff;
}

.area_aniversariante{
    font-size: 11px;
    color: gray;
    font-style: italic;
}

.nucleo_aniversariante{
    font-size: 11px;
    color: gray;
    font-style: italic;
}

.msg{
    color: black;
    font-size: 12px;
    font-weight: bold;
}





.swiper-aniv{

    /*height: 17em;*/
    width: 100%;
    max-width: 23.75em;
    background-color: white;
}


.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
    margin-left: -1.25em !important;
}

.swiper-slide {
    width: 5em !important;
    height: 100% !important;
    text-align: center;
    font-size: 1em;
    background: transparent;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: width 0.4s ease-out;
}
.swiper-slide.swiper-slide-active{
    margin-top: 0;
    height: 6.25em !important;
    width: 7.5em !important;
}
.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next{

}


.swiper-slide div.foto-user{
    width: 3.75em;
    height: 3.75em;
    border-radius: 50%;
    transition: 0.4s ease-out;
}
.swiper-slide.swiper-slide-active div.foto-user{
    height: 6.25em;
    width: 6.25em;
}
.swiper-slide.swiper-slide-prev div.foto-user,
.swiper-slide.swiper-slide-next div.foto-user{

}
.swiper-slide .name-user{
    font-family: 'Roboto', sans-serif;
    display: none;
    position: absolute;
    top: 6.35em;
    width: 12.5em;
    height: 5.4em;
}
.swiper-slide.swiper-slide-active .name-user{
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide .name-user h3{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    font-size: 1.1em;
    line-height: 1.2;
    color: #3e75ae;
}

/*BADGES*/

.badge-image{
    width: 1.125em;
    height: 1.125em;
    z-index: 9999;
    border-radius: 50%;
    position: absolute;
    margin-left: 1.5625em;
    bottom: 1.25em;
    /*border: 3px solid white;*/
    box-shadow: 0 0 3px 2px white;
    transition: 0.4s ease-out;
}
.swiper-slide.swiper-slide-active .badge-image{
    width: 1.375em;
    height: 1.375em;
    bottom: 0.3125em;
    margin-left: 2.5em;
}
.on-badge{
    background-color: #aede67;
}
.away-badge{
    background-color: #ffbb5a;
}
.off-badge{
    background-color: #b8b8b8;
}




/*HEADER ANIVERSARIANTE*/

.swiper-header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.9375em;
}
.swiper-header .swiper-header-logo{
    width: 2.5em;
    height: auto;
}
.swiper-header .swiper-header-logo img{
    max-width: 100%;
}
.swiper-header .swiper-header-text{
    padding-left: 0.9375em;
}
.swiper-header .swiper-header-text .swiper-header-text-date{
    font-size: 1em;
    color: #c4c4c4;
    font-family: 'Roboto', sans-serif;
}
.swiper-header .swiper-header-text .swiper-header-text-title{
    margin: 0;
    font-size: 1em;
    font-weight: bold;
    color: #383838;
    font-family: 'Roboto', sans-serif;
}


/*BODY ANIVERSARIANTE*/

.swiper-aux{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-height: 5.7em;
}


.swiper-button-prev,
.swiper-button-next{
    color: #999999;
    background-size: 27px 30px;
}
.swiper-button-prev{
    background-image: url(images/generic/angle-left.svg) !important;
}
.swiper-button-next{
    background-image: url(images/generic/angle-right.svg) !important;
}





.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100%;
    background-color: rgba(53, 114, 176, 0.9);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 95%;
    left: 50%;
    margin-left: -7.5em;
    opacity: 0;
    z-index: 99999999;
    font-size: 0.875em;
    transition: opacity 0.5s;
    font-family: 'Roboto', sans-serif;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(53, 114, 176, 0.9) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.sem-aniversariantes{
    font-size: 1.2em !important;
    font-weight: bold !important;
    color: #3e75ae !important;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 !important;
}



.image-custom {
    background: no-repeat center center/100%;
}
.img1{
    background-image: url(images/profiles/perfil.jpg);
}
.img2{
    background-image: url(images/profiles/alberto.png);
}
.img3{
    background-image: url(images/profiles/andre.png);
}
.img4{
    background-image: url(images/profiles/antonio.png);
}
.img5{
    background-image: url(images/profiles/bernardo.jpg);
}
.img6{
    background-image: url(images/profiles/bertasso.jpg);
}
.img7{
    background-image: url(images/profiles/bruno.png);
}
.img8{
    background-image: url(images/profiles/carolina.png);
}
.img9{
    background-image: url(images/profiles/celso.png);
}
.img10{
    background-image: url(images/profiles/fabio.png);
}
.img11{
    background-image: url(images/profiles/fabiola.png);
}
.img12{
    background-image: url(images/profiles/falipe.png);
}
.img13{
    background-image: url(images/profiles/fausto.png);
}
.img14{
    background-image: url(images/profiles/flavio.png);
}
.img15{
    background-image: url(images/profiles/luciana.jpg);
}
.img16{
    background-image: url(images/profiles/luciano.jpg.bmp);
}
.img17{
    background-image: url(images/profiles/valdemir.jpg);
}
